@mixin rounded($side, $radius: 10px) {
    border-#{$side}-radius: $radius;
    -moz-border-radius-#{$side}: $radius;
    -webkit-border-#{$side}-radius: $radius;
}

@mixin box_shadow($hor_offset, $ver_offset, $blur, $spread, $color, $inset: "") {
    box-shadow: #{$inset} $hor_offset $ver_offset $blur $spread $color;
    -moz-box-shadow: #{$inset} $hor_offset $ver_offset $blur $spread $color;
    -webkit-box-shadow: #{$inset} $hor_offset $ver_offset $blur $spread $color;
}
//horizontal offset, vertical offset, optional blur distance and optional spread distance

// box shadow
//box-shadow: 0 4px 4px -2px #232323;
//-moz-box-shadow: 0 4px 4px -2px #232323;
//-webkit-box-shadow: 0 4px 4px -2px #232323;
// transition
//-webkit-transition: background .2s linear;
//-moz-transition: background .2s linear;
//transition: background .2s linear;